{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="scrollable-container">
    {% if not user.is_authenticated %}
        <p>You must be logged in to vote.</p>
    {% endif %}

    <h1>Vote for {{ session.title }}</h1>

    <!-- Voting form -->
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Submit Vote</button>
    </form>

    <!-- Link to view voting results -->
    <a href="{% url 'results:results_detail' session.id %}">Results</a>
</div>
{% endblock %}
