# Python
*.pyc
__pycache__/

# Virtual environments
venv/
.env

# OS
.DS_Store

# Bytecode or logs
*.log

# Ignore .vscode folder
.vscode/

# Ignore any parent directories or files outside the project
*.pyc
*.pyo
DjangoProject1/
File_Organizer/
Lab/
Leet/
Lessons/
Lessons_1/
Lessons_Reserve_1/
OOP/
Project_Dom/
*.rdb
*.aof
.DS_Store
.idea/
*.py[cod]
*.log
*.whl
*.bak
*.tmp
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Django cache
cache/


# Logs
*.log

# Output PDFs
output/

# VS Code settings (optional)
.vscode/

db.sqlite3

