# Python
*.pyc
__pycache__/

# Virtual environments
venv/
.env

# SQLite & backup files
*.sqlite3
*.sqlite3-*

# Static & media (generated or uploaded)
staticfiles/
media/

# OS
.DS_Store

# Bytecode or logs
*.log

# Ignore .vscode folder
.vscode/

# Ignore any parent directories or files outside the project
BootStrap/
*.pyc
*.pyo
DjangoProject1/
File_Organizer/
Lab/
Leet/
Lessons/
Lessons_1/
Lessons_Reserve_1/
OOP/
Project_Dom/
*.rdb
*.aof
.DS_Store
.idea/
*.py[cod]
db.sqlite3
*.sqlite3
*.log
*.whl
*.bak
*.tmp

data.json
