PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "django_migrations" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "applied" datetime NOT NULL);
INSERT INTO django_migrations VALUES(1,'contenttypes','0001_initial','2024-10-06 18:10:21.376678');
INSERT INTO django_migrations VALUES(2,'auth','0001_initial','2024-10-06 18:10:21.551080');
INSERT INTO django_migrations VALUES(3,'admin','0001_initial','2024-10-06 18:10:21.598968');
CREATE TABLE IF NOT EXISTS "auth_group_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_user_groups" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "auth_user_user_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "django_admin_log" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "object_id" text NULL, "object_repr" varchar(200) NOT NULL, "action_flag" smallint unsigned NOT NULL CHECK ("action_flag" >= 0), "change_message" text NOT NULL, "content_type_id" integer NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "action_time" datetime NOT NULL);
INSERT INTO django_admin_log VALUES(1,'1','Script 1',1,'[{"added": {}}]',7,1,'2024-10-07 16:29:08.846794');
INSERT INTO django_admin_log VALUES(2,'2','Script 2',1,'[{"added": {}}]',7,1,'2024-10-07 16:30:22.095233');
INSERT INTO django_admin_log VALUES(3,'1','Script 1',2,'[{"changed": {"fields": ["End date"]}}]',7,1,'2024-10-07 16:30:42.331712');
CREATE TABLE IF NOT EXISTS "django_content_type" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app_label" varchar(100) NOT NULL, "model" varchar(100) NOT NULL);
INSERT INTO django_content_type VALUES(1,'admin','logentry');
INSERT INTO django_content_type VALUES(2,'auth','permission');
INSERT INTO django_content_type VALUES(3,'auth','group');
CREATE TABLE IF NOT EXISTS "auth_permission" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "content_type_id" integer NOT NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "codename" varchar(100) NOT NULL, "name" varchar(255) NOT NULL);
INSERT INTO auth_permission VALUES(1,1,'add_logentry','Can add log entry');
INSERT INTO auth_permission VALUES(2,1,'change_logentry','Can change log entry');
INSERT INTO auth_permission VALUES(3,1,'delete_logentry','Can delete log entry');
CREATE TABLE IF NOT EXISTS "auth_group" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(150) NOT NULL UNIQUE);
CREATE TABLE IF NOT EXISTS "auth_user" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "password" varchar(128) NOT NULL, "last_login" datetime NULL, "is_superuser" bool NOT NULL, "username" varchar(150) NOT NULL UNIQUE, "last_name" varchar(150) NOT NULL, "email" varchar(254) NOT NULL, "is_staff" bool NOT NULL, "is_active" bool NOT NULL, "date_joined" datetime NOT NULL, "first_name" varchar(150) NOT NULL);
INSERT INTO auth_user VALUES(1,'pbkdf2_sha256$720000$uKdyxmkp5QF3yJZxOon8t2$/Cpftoh7MNl4trQEerQNdfxm1IXIqa1hrt5ICOuKf5Q=','2024-10-08 12:07:10.248212',1,'ken','','ken@example.com',1,1,'2024-10-07 13:54:41.616082','');
CREATE TABLE IF NOT EXISTS "django_session" ("session_key" varchar(40) NOT NULL PRIMARY KEY, "session_data" text NOT NULL, "expire_date" datetime NOT NULL);
INSERT INTO django_session VALUES('l8qg0fewjug521gxxbmlpnpcdk30w6wp','.eJxVjEEOwiAQRe_C2pCBoQN16d4zEGBAqoYmpV0Z765NutDtf-_9l_BhW6vfel78xOIslDj9bjGkR2474Htot1mmua3LFOWuyIN2eZ05Py-H-3dQQ6_fGikRFAAy4CgFm6koxcawjWMBjcqZ0VoNOKCjbJCTQR0HDcSFCoF4fwCyVzZ-:1sxoCx:FuLA99kIfbHxCOmav7Ft1RGx2L4IYVU-dDEJouk0ymQ','2024-10-21 13:55:31.027964');
INSERT INTO django_session VALUES('cxhsot3x1jz2nwc69nr8rf9pewj6b6wl','.eJxVjEEOwiAQRe_C2pCBoQN16d4zEGBAqoYmpV0Z765NutDtf-_9l_BhW6vfel78xOIslDj9bjGkR2474Htot1mmua3LFOWuyIN2eZ05Py-H-3dQQ6_fGikRFAAy4CgFm6koxcawjWMBjcqZ0VoNOKCjbJCTQR0HDcSFCoF4fwCyVzZ-:1sy8ze:vj-UwLl9WQoXwk-iCG69LLTUIeCuKec52fLtagLX9co','2024-10-22 12:07:10.258218');
CREATE TABLE IF NOT EXISTS "votes_libraryoption" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(200) NOT NULL, "description" text NOT NULL, "start_date" date NOT NULL, "end_date" date NOT NULL, "votes" integer NOT NULL);
INSERT INTO votes_libraryoption VALUES(1,'Script 1','Lections','2024-12-01','2024-12-01',12);
INSERT INTO votes_libraryoption VALUES(2,'Script 2','Events','2024-12-01','2024-10-01',11);
CREATE TABLE IF NOT EXISTS "votes_vote" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "no_support" bool NOT NULL, "option_id" bigint NULL REFERENCES "votes_libraryoption" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO votes_vote VALUES(1,0,1);
INSERT INTO votes_vote VALUES(2,0,1);
INSERT INTO votes_vote VALUES(3,0,1);
CREATE TABLE IF NOT EXISTS "votes_reader" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(100) NOT NULL, "email" varchar(254) NOT NULL, "user_id" integer NOT NULL UNIQUE REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO votes_reader VALUES(1,'','',1);
CREATE TABLE IF NOT EXISTS "votes_participation" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "voted" bool NOT NULL, "reader_id" bigint NOT NULL REFERENCES "votes_reader" ("id") DEFERRABLE INITIALLY DEFERRED, "session_id" bigint NOT NULL REFERENCES "votes_votingsession" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO votes_participation VALUES(1,1,1,2);
CREATE TABLE IF NOT EXISTS "votes_votingoption" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(100) NOT NULL, "session_id" bigint NOT NULL REFERENCES "votes_votingsession" ("id") DEFERRABLE INITIALLY DEFERRED, "votes" integer NOT NULL);
INSERT INTO votes_votingoption VALUES(1,'Lections',2,1);
INSERT INTO votes_votingoption VALUES(2,'Concerts',2,1);
CREATE TABLE IF NOT EXISTS "votes_votingsession" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(200) NOT NULL, "end_time" time NOT NULL, "start_date" date NOT NULL, "end_date" date NOT NULL, "participant_count" integer unsigned NOT NULL CHECK ("participant_count" >= 0), "start_time" time NOT NULL);
INSERT INTO votes_votingsession VALUES(2,'Discussions','04:43:34','2024-10-12','2024-10-31',1,'04:43:25');
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('django_migrations',22);
INSERT INTO sqlite_sequence VALUES('django_admin_log',9);
INSERT INTO sqlite_sequence VALUES('django_content_type',12);
CREATE UNIQUE INDEX "auth_group_permissions_group_id_permission_id_0cd325b0_uniq" ON "auth_group_permissions" ("group_id", "permission_id");
CREATE INDEX "auth_group_permissions_group_id_b120cbf9" ON "auth_group_permissions" ("group_id");
CREATE INDEX "auth_group_permissions_permission_id_84c5c92e" ON "auth_group_permissions" ("permission_id");
CREATE UNIQUE INDEX "auth_user_groups_user_id_group_id_94350c0c_uniq" ON "auth_user_groups" ("user_id", "group_id");
CREATE INDEX "auth_user_groups_user_id_6a12ed8b" ON "auth_user_groups" ("user_id");
CREATE INDEX "auth_user_groups_group_id_97559544" ON "auth_user_groups" ("group_id");
CREATE UNIQUE INDEX "auth_user_user_permissions_user_id_permission_id_14a6b632_uniq" ON "auth_user_user_permissions" ("user_id", "permission_id");
CREATE INDEX "auth_user_user_permissions_user_id_a95ead1b" ON "auth_user_user_permissions" ("user_id");
CREATE INDEX "auth_user_user_permissions_permission_id_1fbb5f2c" ON "auth_user_user_permissions" ("permission_id");
CREATE INDEX "django_admin_log_content_type_id_c4bce8eb" ON "django_admin_log" ("content_type_id");
CREATE INDEX "django_admin_log_user_id_c564eba6" ON "django_admin_log" ("user_id");
CREATE UNIQUE INDEX "django_content_type_app_label_model_76bd3d3b_uniq" ON "django_content_type" ("app_label", "model");
CREATE UNIQUE INDEX "auth_permission_content_type_id_codename_01ab375a_uniq" ON "auth_permission" ("content_type_id", "codename");
CREATE INDEX "auth_permission_content_type_id_2f476e4b" ON "auth_permission" ("content_type_id");
CREATE INDEX "django_session_expire_date_a5c62663" ON "django_session" ("expire_date");
CREATE INDEX "votes_vote_option_id_dc979741" ON "votes_vote" ("option_id");
CREATE INDEX "votes_participation_reader_id_e380587f" ON "votes_participation" ("reader_id");
CREATE INDEX "votes_participation_session_id_4df279d5" ON "votes_participation" ("session_id");
CREATE INDEX "votes_votingoption_session_id_518ffd45" ON "votes_votingoption" ("session_id");
COMMIT;
