
{% extends "base.html" %}
{% load static %}
    
{% block content %}
<div class="container scrollable-container">
    <h2>🧐 What is Vote Cast?</h2>       
        <p>Vote Cast is a lightweight web application designed to run single-stage online voting sessions. It helps
        organizations and<br>
        communities collect decisions, preferences, or opinions in a simple and democratic way. Use it in:</p>
        <Ul>
            <li>Local initiatives & public communities</li>

            <li>Political groups & civic organizations</li>

            <li>Companies, teams, unions, and beyond</li>
        </Ul>
        <h3>⚙️ How Voting Works</h3>
        <ul>
            <li>Admin creates a session and sets available voting options</li>

            <li>All signed-up users are notified via email</li>

            <li>Voting is anonymous to ensure privacy</li>

            <li>Only authenticated users can vote</li>
        </ul>
        <h3>🔐 Why Use Vote Cast?</h3>
        <ul>
            <li>Transparent and fair voting mechanics</li>

            <li>Designed for simplicity — no distractions</li>

            <li>Focused on privacy, security, and accessibility</li>
        </ul>

        Vote Cast is ideal for small to mid-sized groups who need a quick and trustworthy way to gather votes online.<br>


    <p>🔗 <a href="{% url 'home' %}"> Back to Home</a> | 🔗 <a href="{% url 'users:signup' %}"> Sign Up</a> | 🔗 <a href="{% url 'contacts' %}">Contacts</a></p>
</div>
{% endblock %}

