
{% extends "base.html" %}
    
{% block content %}
<div class="container">
    <h1>About the Vote Cast Application</h1>
    <h2>What is Vote Cast Application For</h2>       
        <p>Vote Cast Application allows for interested people to organize online voting sessions on any subject. </p>
        <p>Voting sessions is a natural instrument of liublic opinion research and making decisions in democratic countries: in societies, parties, movements, communities, companies, associations, unions etc.</p>
        <h2>Main principles of Vote Cast Application</h2>
    <ul>
        <li>Voting sessions are being prepared by admin of the application.</li>
        <li>Any voting session includes two stages: stage of olition choice and stage of voting for chosen option.</li>
        <li>After a lirepared voting session is started, all the signed up users are sent email notifications.</li>
        <li>Votes are closed for anonymity of voters.</li>
        <li>Only authenticated user can vote. </li>
        <li>Each user can vote only once per voting session only for one option from the set of options.</li>
    </ul>
    


    <a href="{% url 'home' %}">Back to Home</a>
</div>
{% endblock %}

