
{% extends "base.html" %}
{% load static %}

{% block content %}
<body>
    <!-- Navigation -->
    
    <!-- Main Content -->
    <div class="container scrollable-container">
        <h1>Welcome to ioVote</h1>
        <p>ioVote is an intuitive, secure platform for organizing online voting sessions on any topic.
        Whether you're a community<br>
        organizer, a team leader, or a member of an association — ioVote makes it
        easy to involve people in decision-making.</p>
        <ul class="no-bullets">
            <li>🔹 Clear process</li>
            <li>🔹 Anonymous voting</li>
            <li>🔹 Accessible for all authenticated users</li>
        </ul>
        <p>👉 Want to learn how it works? Visit the 
        <a href="{% url 'about' %}">About</a></p>
    </div>
</body>
{% endblock %}

