body {
    font-family: Arial, sans-serif;
    background-color: #64cb7a;
}

h1 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #b2ae45;
}
